# This file is part of Super GRUB2 Disk.
#
# Copyright (C) 2009, 2010 Jordan Uggla
#
# Super GRUB2 Disk is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Super GRUB Disk is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.


insmod regexp

cfg_found=false

for cfg in (*)/boot/grub/grub.cfg (*)/grub/grub.cfg (*)/boot/grub2/grub.cfg (*)/grub2/grub.cfg; do
  regexp --set=1:cfg_device '^\((.*)\)/' "$cfg"

  if [ "$cfg_device" != "cd" -a "$cfg" != "${script_prefix}grub.cfg" -a -e "$cfg" ]; then
    cfg_found=true

    menuentry "$cfg" "$cfg_device" "$cfg" {
     cfg_device="$2"
     cfg="$3"

     root="$cfg_device"
     configfile "$cfg"
    }
  fi
done

if [ "$cfg_found" != true ]; then
  echo "Error: Could not find any grub.cfg files."
  echo "Press escape to return to the main menu."
  sleep --interruptible 20 -v
fi
