set option_title=$"Disks and Partitions (Chainload)"

function run_option {

    source "${prefix}/tools.cfg"
    insmod regexp

    for dev in (*); do
	# $device: parenthesis removed from $dev
	regexp -s device '\((.*)\)' $dev
	# Discard floppy and cdrom devices in search
	# But search them if their search has been inforced

	if searchindevice "$device"; then

		probe -s fstype -f $dev
		probe -s uuid -u $dev
		probe -s label -l $dev
		probe -s partmap -p $dev
		if [ ! -z $label ]; then
			set label="\"$label\""
		fi
		if strcontains "$device" ","; then
			extra_tab_str="${finaloption_tab_str}"
		else
			extra_tab_str=""
		fi
		menuentry "${finaloption_tab_str}${extra_tab_str}$dev $label" $dev {
			set root="$2"
			chainloader +1
		}

	fi
	done
}
