# This file is part of Super GRUB2 Disk.
#
# Copyright (C) 2009, 2010 Jordan Uggla
#
# Super GRUB2 Disk is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Super GRUB Disk is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# This script searches for grub core.img files and presents a menu for the user
# to choose between them, then loads their choice via the multiboot protocol.
# Since we're loading grub's core.img from the filesystem rather than
# chainloading a boot sector this works very reliably, even after grub's
# boot sector has been clobbered by something like the Windows installer.

# Multiboot is only for BIOS based systems, and so this is one of the few
# Super GRUB2 Disk scripts which will only work on BIOS based systems.

set option_title="core.img - "$"(GRUB2 installation (even if mbr is overwritten))"

function run_option {

    source "${prefix}/tools.cfg"

    insmod regexp

    installation_found=false

    for dev in (*); do
      # $device: parenthesis removed from $dev
      regexp -s ins_device '\((.*)\)' $dev
      if searchindevice "$ins_device" ; then
        for ninspath in \
          boot/grub/i386-pc/core.img \
               grub/i386-pc/core.img \
          boot/grub2/i386-pc/core.img \
               grub2/i386-pc/core.img \
          boot/grub/core.img \
               grub/core.img \
          boot/grub2/core.img \
               grub2/core.img \
          ; do
          ins="(${ins_device})/${ninspath}"
          if [ -e "$ins" ]; then
              installation_found=true

              menuentry "${finaloption_tab_str}$ins" "$ins_device" "$ins" {
              ins_device="$2"
              ins="$3"

              root="$ins_device"
              multiboot "$ins"
              }
          fi
        done
      fi
    done

    if [ "$installation_found" != true ]; then
      menuentry "${finaloption_tab_str}"$"(No core.img file detected)" {
	sleep 1s
      }
    fi

}
