# This file is part of Super GRUB2 Disk.
#
# Copyright (C) 2009, 2010 Jordan Uggla
#
# Super GRUB2 Disk is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Super GRUB Disk is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# This script detecs grub.cfg files and creates menu entries to allow the user
# to chose among the grub.cfg files found, then uses "configfile" to load the
# chosen grub.cfg .

set option_title=$"Languages..."

function run_option {

    for info_cfg in "$prefix/sgd_locale"/*.cfg; do
      source "$info_cfg"
      menuentry "$language_name (${lang_code})" "$lang_code" {
	lang="$2"
	export lang
	configfile "${prefix}/main.cfg"
      }
    done

}

